.img-fav{  
  border: 10px dashed black;
  width: 500px;
}

.img-icon{
  width: 50px;
}


body{
  background-color: LIGHTSTEELBLUE;
  color: white;
}

h1{
  border: 1px solid white;
  padding: 10px;
}

h2{
  border: 1px solid white;
  padding: 10px;
}

hr{
  border: 1px solid white;
}


.links-h1{
  border: 1px solid white;
  padding: 10px;
  margin: 50px;
}

.home-h1{
 border: 1px solid white;
 padding: 20px;
}

.home-h2{
 border: 1px solid white;
 padding: 10px; 
}


.student-info-table{
  border-collapse: collapse;
  table-layout: fixed;
  width: 800px;  
  margin-top: 20px; 
  margin-left: 20px;

}

.student-info-table th{ 
  border: 1px solid #94d3ac;  
  background-color: #94d3ac;
  padding: 5px;
  color: #655c56;
}

.student-info-table td{  
  border: 1px solid #94d3ac;
  background-color: #effcef;
  padding: 5px;
  color: #655c56;
}